:root {
    --pfp-size: 5em;
    --pfp-border-size: 5.1em;
}

html {
    height: 100%;
    width: 100%;
    background: linear-gradient(#202020, #0a0a0a);
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: relative;
}

div {
    display: flex;
}

a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    line-height: 0px;
    margin: 0px;
    text-decoration: none;
}

#headerbar {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    line-height: 0px;
    top: 8px;
}

#links, #links a {
    padding: 0px 8px;
    overflow: visible;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#links a:hover {
    filter:drop-shadow(0 0 2px rgb(255, 99, 159));
    -webkit-filter:drop-shadow(0 0 2px rgb(255, 99, 159));
}

#socials {
    flex-direction: row;
    line-height: 0px;
    align-items: center;
}
#socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
    line-height: 0px;
}
#socials a img {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#socials a img:hover {
    filter:drop-shadow(0 0 2px rgb(255, 99, 159));
    -webkit-filter:drop-shadow(0 0 2px rgb(255, 99, 159));
}
.icon {
    width: 2.5rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

#center {
    position: absolute;
    max-width: 50vmin;
    font-size: min(5.9vw, 6vh);
    top:50%;
    left:0px;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
}

#name-card {
    align-items: center;
}
#pfp {
    margin-left: 1vw;
    height: var(--pfp-border-size);
    width: var(--pfp-border-size);
    align-items: center;
    justify-content: center;
}
#pfp-inner {
    position: absolute;
    width: var(--pfp-size);
    border-radius: 100%;
}
#pfp-border {
    position: absolute;
    width: var(--pfp-border-size);
    height: var(--pfp-border-size);
    border: 0.15rem dashed white;
    border-radius: 100%;
    animation-duration: 60s;
    animation-name: slow-rotate;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction:normal;
}
#name {
    text-rendering: optimizeLegibility;
    margin-bottom: 0px;
}
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0px;
    margin-left: 0.25em;
    margin-top: 0px;
    margin-bottom: 0px;
}
#bio {
    font-size: 50%;
    line-height: 100%;
    margin-left: 0.25em;
    margin-top: 2em;
}

@keyframes slow-rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}